@model PhotoManagerThreeLayer.ViewModels.AlbumDetailViewModel


<div class="row" style="text-align: center">
    <div class="col-lg-6 col-lg-offset-3">
        <h2>Add album</h2>
        <hr />
        @using (Html.BeginForm("Create", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>
                @Html.ValidationMessage("NumberOfAlbumsValidationError", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <a class="btn btn-danger" href='@Url.Action("Index", "Album")'>Back to albums</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/albumAddEdit")

