@model PhotoManagerModels.ViewModels.AlbumDetailViewModel


<div class="row">
    <div id="album" value="@Model.Id"></div>
    <h4 style="text-align: center">
        @Model.Title &nbsp;
        <a href='@Url.Action("Edit", "Album", new {id = Model.Id})'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
        <a href='@Url.Action("Create", "Album")'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </h4>
    <hr />
    <div class="col-lg-3">
        @if (Model.CoverImageData.Length > 0)
        {
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.CoverImageData, 0, Model.CoverImageData.Length)" class="albumCoverImage" />
        }
        else
        {
            <img src="./../../Content/AlbumPlaceholder.jpg" class="albumCoverImage" alt="Album cover not selected" />
        }
    </div>
    <div class="col-lg-9">


        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastModified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastModified)
            </dd>
        </dl>
    </div>
</div>
<hr />
<div class="row">
    <h4 style="text-align: center">
        Photos
    </h4>

        @using (Html.BeginForm("RemovePhotosFromAlbum", "Album", FormMethod.Post, new { id= "MyForm" }))
        {
            @Html.AntiForgeryToken()
            <input id="AlbumId" name="AlbumId" type="hidden" value="@Model.Id"/>
            <input id="PhotosArr" name="PhotosArr" type="hidden" value=""/>
            <a href='@Url.Action("Details", "Album", new {id = Model.Id})'><span class="glyphicon glyphicon-plus" aria-hidden="true" id="addPhotos"></span></a>
            <button type="submit" id="removePhotos"><span class="glyphicon glyphicon-minus" aria-hidden="true" ></span></button>
        }
    @foreach (var item in Model.Photos)
    {
        <div class="col-lg-4 photoListItem">
            <input type="checkbox" class="photoSelect" id="@item.Id" />
            @item.Title
            @*<a href='@Url.Action("Details", "Photo", new {id = item.Id})'>*@
            <img src="data:image/png;base64,@Convert.ToBase64String(item.SmallSizeImageData, 0, item.SmallSizeImageData.Length)" class="photoCoverImage" alt="@item.Title small image" />

            @*</a>*@
            @if (item.Description.Length > 0)
            {
                @item.Description.Substring(0, Math.Min(item.Description.Length, 35))
                if (item.Description.Length > 35)
                {<span>...</span>}
            }
            else
            {
                <a href='@Url.Action("Edit", "Photo", new {id = item.Id})'>Click to add a description</a>
            }
            @if (item.anyOneCanSee)
            {
                <p>
                    <span class="glyphicon glyphicon-eye-open photoListView-anyOneCanSee" aria-hidden="true"></span><span>Anyone can see this photo</span>&nbsp;<a href='@Url.Action("Edit", "Photo", new {id = item.Id})'>(Edit)</a>
                </p>
            }
            else
            {
                <p class="photoListView-anyOneCanSee-false">
                    <span class="glyphicon glyphicon-eye-close photoListView-anyOneCanSee-false-icon" aria-hidden="true"></span><span>Nobody can see this photo</span>&nbsp;<a href='@Url.Action("Edit", "Photo", new {id = item.Id})'>(Edit)</a>
                </p>
            }

            <p>
                Uploaded:&nbsp;@item.Uploaded.ToString("d")&nbsp;|&nbsp;<a href='@Url.Action("Delete", "Photo", new {id = item.Id})'>Delete</a>
            </p>
            <p>
                <span>@item.Views&nbsp;views</span>&nbsp;/&nbsp;<a href='@Url.Action("Details", "Photo", new {id = item.Id})'>@item.Comments&nbsp;Comments</a>
            </p>
        </div>
    }
</div>
@Scripts.Render("~/bundles/albumDetails")

