@model PhotoManagerThreeLayer.ViewModels.AlbumDetailViewModel

<div class="row">
    <h4 style="text-align: center">
        @Model.Title &nbsp;
        <a href='@Url.Action("Edit", "Album", new {id = Model.Id})'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
        <a href='@Url.Action("Manage", "Album", new {id = Model.Id})'><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a>&nbsp;
        <a href='@Url.Action("Create", "Album")'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>&nbsp;
        @Ajax.ActionLink(".", "GetDirectAlbumLink", "Album", new {id=@Model.Id}, new AjaxOptions{ UpdateTargetId= "directLink" }, new { @class = "glyphicon glyphicon-link"})
        <input id="AlbumId" name="AlbumId" type="hidden" value="@Model.Id"/>
    </h4>
        <div id="directLink"></div>
</div>
<hr />
@Html.Partial("_AlbumDetailsPageHeader", Model)
<hr/>
@if (Model.ImageId != null)
{
    <div class="row">
        <div class="col-lg-7">
            <div id="middleImage"></div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <h4 style="text-align: center">
                    <span id="AlbumPhotoBackward" class="glyphicon glyphicon-backward" aria-hidden="true" style="display: none" data-page=""></span>
                    &nbsp;
                    Album photos
                    &nbsp;
                    <span id="AlbumPhotoForward" class="glyphicon glyphicon-forward" aria-hidden="true" style="display: none" data-page=""></span>
                </h4>
                <div class="col-lg-12 albumPhotosBlock">
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_NoPhotosInAlbum")
}

        @Scripts.Render("~/bundles/albumDetails")
        @Scripts.Render("~/bundles/unobtrusiveAjax")
