@model PhotoManagerThreeLayer.ViewModels.PhotoListViewModel
<div class="photoListItem">
    @Model.Title.Truncate(20)
    &nbsp;
    <a class="action" data-id="@Model.Id" href=""><span class="glyphicon" aria-hidden="true"></span></a>
    <img src="@Url.Action("GetSmallPhotoImage", "Photo", new { id = Model.Id})" class="smallImage" data-id="@Model.Id" alt="@Model.Title small image" />
</div>
